@import "includes/home";
@import "includes/navbar";
@import "includes/footer";
@import "includes/account";

a{
    color: white !important;
}

.flex{
    display: flex;
}

.white{
    color: white !important;
}