@import "includes/home";
@import "includes/navbar";
@import "includes/footer";
@import "includes/account";
@import "includes/creator";
@import "includes/builds_list";

a{
    color: white !important;
}

.flex{
    display: flex;
}

.white{
    color: white !important;
}

.transparent{
    background-color: rgba(255, 255, 255, 0) !important;
}

.space{
    top: 10em;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    text-align: center;
}

.end{
    justify-content: flex-end;
}

.ui.modal.info, .ui.modal>.header, .ui.modal.list, .ui.modal>.header{
    background-color: rgba(112, 112, 112, 0.836);
}