{% extends "layouts/default.html" %}

{% load static %}

{% block title %}Dungi Grupowe{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="builds">
            <div class="ui modal info">
                <div class="header">
                    <div class="txt"></div>
                </div>
                <div class="modal-div-form">
                    <div class="description">
                        <div class="left-imgs"></div>
                        <div class="right-data"></div>
                    </div>
                </div>
            </div>
            <div class="left">
            {% for build in group_builds %}
                {% if build.id|divisibleby:"2" %}
                    {% include "layouts/builds.html" %}
                {% endif %}
            {% endfor %}
            </div>
            <div class="right">
            {% for build in group_builds %}
                {% if build.id|divisibleby:"2" %}
                {% else %}
                    {% include "layouts/builds.html" %}
                {% endif %}
            {% endfor %}
            </div>
            <script src="{% static "js/modal.js" %}"></script>
            <script>
                var url = "{% url 'ajversh:build-info' %}";
            </script>
            <script src="{% static "js/preview.js" %}"></script>

        </div>
    {% else %}
        Nie dla psa kiełbasa(EasterEgg)
    {% endif %}
{% endblock %}

