{% extends "layouts/default.html" %}

{% load static %}

{% block title %}ZVZ{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="builds">
            <div class="ui modal info">
                <div class="header">
                    <div class="txt"></div>
                </div>
                <div class="modal-div-form">
                    <div class="description">
                        <div class="left-imgs"></div>
                        <div class="right-data"></div>
                    </div>
                </div>
            </div>
            <div class="left">
            {% for build in zvz_builds %}
                {% if build.id|divisibleby:"2" %}
                    {% include "layouts/builds.html" %}
                {% endif %}
            {% endfor %}
            </div>
            <div class="right">
            {% for build in zvz_builds %}
                {% if build.id|divisibleby:"2" %}
                {% else %}
                    {% include "layouts/builds.html" %}
                {% endif %}
            {% endfor %}
            </div>
            <script src="{% static "js/modal.js" %}"></script>
            <script>
                function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
                function moreInfo(buildId){
                    var url = "{% url 'ajversh:build-info' %}";
                    fetch(url, {
                        method:'POST',
                        headers:{
                            'Content-type':'application/json',
                            'X-CSRFToken':csrftoken,
                        },
                        body:JSON.stringify({'buildId':buildId})
                    })
                    .then((resp) => resp.json())
                    .then(function(data) {
                        $(".txt").remove();
                        $(".left-imgs").remove();
                        $(".header").append('<div class="txt">' + data.name + '</div>');
                        $(".description").prepend('<div class="left-imgs"></div>');
                        $(".left-imgs").append('<img src="' + data.head_img + '" title="' + data.head + '" width="100px" style="position: absolute; top: 116px; left: 190px;">');
                        $(".left-imgs").append('<img src="' + data.chest_img + '" title="' + data.chest + '" width="100px" style="position: absolute; top: 227px; left: 190px;">');
                        $(".left-imgs").append('<img src="' + data.boots_img + '" title="' + data.boots + '" width="100px" style="position: absolute; top: 339px; left: 190px;">');
                        $(".left-imgs").append('<img src="' + data.hand_img + '" title="' + data.hand + '" width="100px" style="position: absolute; top: 227px; left: 62px;">');
                        if (data.second_hand_img != undefined ) {
                            $(".left-imgs").append('<img src="' + data.second_hand_img + '" title="' + data.second_hand + '" width="100px" style="position: absolute; top: 227px; left: 320px;">');
                        }

                        $(".preview-head").remove();
                        $(".right-data").append('<div class="item preview-head"></div>');
                        $(".preview-head").append('<div class="category">Głowa</div>');
                        $(".preview-head").append('<div class="item-info head"> Tier ' + data.head_t + ', ' + data.head + '</div>');
                        $(".preview-head").append('<div class="item-img head-img"><img src="' + data.head_img + '" title="' + data.head + '" width="50px"></div>');

                        $(".preview-chest").remove();
                        $(".right-data").append('<div class="item preview-chest"></div>');
                        $(".preview-chest").append('<div class="category">Klata</div>');
                        $(".preview-chest").append('<div class="item-info chest"> Tier ' + data.chest_t + ', ' + data.chest + '</div>');
                        $(".preview-chest").append('<div class="item-img chest-img"><img src="' + data.chest_img + '" title="' + data.chest + '" width="50px"></div>');

                        $(".preview-boots").remove();
                        $(".right-data").append('<div class="item preview-boots"></div>');
                        $(".preview-boots").append('<div class="category">Buty</div>');
                        $(".preview-boots").append('<div class="item-info boots"> Tier ' + data.boots_t + ', ' + data.boots + '</div>');
                        $(".preview-boots").append('<div class="item-img boots-img"><img src="' + data.boots_img + '" title="' + data.boots + '" width="50px"></div>');

                        $(".preview-weapon").remove();
                        $(".right-data").append('<div class="item preview-weapon"></div>');
                        $(".preview-weapon").append('<div class="category">Broń Główna</div>');
                        $(".preview-weapon").append('<div class="item-info weapon"> Tier ' + data.hand_t + ', ' + data.hand + '</div>');
                        $(".preview-weapon").append('<div class="item-img weapon-img"><img src="' + data.hand_img + '" title="' + data.hand + '" width="50px"></div>');

                        if (data.second_hand_img != undefined ) {
                            $(".preview-second-weapon").remove();
                            $(".right-data").append('<div class="item preview-second-weapon"></div>');
                            $(".preview-second-weapon").append('<div class="category">Broń Poboczna</div>');
                            $(".preview-second-weapon").append('<div class="item-info sec-weapon"> Tier ' + data.second_hand_tier + ', ' + data.second_hand + '</div>');
                            $(".preview-second-weapon").append('<div class="item-img sec-weapon-img"><img src="' + data.second_hand_img + '" title="' + data.second_hand + '" width="50px"></div>');
                        }
                        else {
                            $(".preview-second-weapon").remove();
                        }
                    })
                }
            </script>

        </div>
    {% else %}
        Nie dla psa kiełbasa(EasterEgg)
    {% endif %}
{% endblock %}

