{% load static %}

<div class="ui secondary pointing menu">
    <a href="/" class="item">
        Home
    </a>
    {% if user.is_authenticated %}
        <div class="ui item inline dropdown">
            <div>
                Lista setów
            </div>
            <div class="menu">
                <a href="{% url 'ajversh:solo' %}" class="item">
                    Solo Dungi
                </a>
                <a href="{% url 'ajversh:group' %}" class="item">
                    Grupowe Dungi
                </a>
                <a href="{% url 'ajversh:pvp' %}" class="item">
                    PVP
                </a>
                <a href="{% url 'ajversh:zvz' %}" class="item">
                    ZVZ
                </a>
                <a href="{% url 'ajversh:avalon' %}" class="item">
                    Avalon
                </a>
            </div>
        </div>
        <a href="{% url 'ajversh:guild' %}" class="item">
            Gildia
        </a>
        <a href="{% url 'ajversh:creator' %}" class="item">
            Kreator setow
        </a>
        <a href="{% url 'ajversh:dc-settings' %}" class="item">
            Ustawienia botow dc
        </a>
    {% endif %}
    <div class="right menu">
        {% if user.is_authenticated %}
            <div class="ui item inline dropdown">
                <div class="text">
                    {{ user }}
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{% url 'ajversh:account' %}" class="item">
                        Moje konto
                    </a>
                    <a href="{% url 'ajversh:edit' %}" class="item">
                        Edytuj profil
                    </a>
                    <a href="{% url 'ajversh:messages' %}" class="item">
                        Wiadomości
                    </a>
                    <a class="item quit">Wyloguj</a>
                    {% include "user/quit.html" %}
                </div>
            </div>
        {% else %}
            <a href="{% url 'account_login' %}">
                <div class="ui item">
                    <div class="login white">
                        Zaloguj
                    </div>
                </div>
            </a>
        {% endif %}
    </div>
</div>

<script src="{% static "js/modal.js" %}"></script>