{% load static %}

<div class="ui secondary pointing menu">
    <a href="/" class="item">
        Home
    </a>
    {% if user.is_authenticated %}
        <a href="sets" class="item">
            Lista setów
        </a>
        <a href="guild" class="item">
            Gildia
        </a>
        <a href="creator" class="item">
            Kreator setow
        </a>
        <a href="dc-settings" class="item">
            Ustawienia botow dc
        </a>
    {% endif %}
    <div class="right menu">
        <div class="ui item">
            {% if user.is_authenticated %}
                <div class="ui inline dropdown">
                    <div class="text">
                        Profile name
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="account" class="item">
                            Moje konto
                        </a>
                        <a href="edit" class="item">
                            Edytuj profil
                        </a>
                        <a href="messages" class="item">
                            Wiadomości
                        </a>
                        <a class="item quit">Wyloguj</a>
                        {% include "user/quit.html" %}
                    </div>
                </div>
            {% else %}
                <div class="login">
                    <a href="login">Zaloguj</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static "js/modal.js" %}"></script>