.login {
    label {
        display: none;
    }

    input {
        padding: 0.65em;
        border-radius: 0.9em;
        background-color: rgba(255, 255, 255, 0.877);
        font-size: 1.1em;
    }

    input:focus {
        outline: none;
    }

    button {
        margin-top: 1em !important;
        width: 100%;
    }
}

.account-allauth{
    text-align: center;
    font-size: 1.2em;
    padding-top: 20%;
}
