.builds {
    width: 100%;
    display: flex;

    .left,
    .right {
        width: 50%;
    }

    .item {
        text-align: center;
        margin-top: 2.5em;

        .title {
            font-size: 1.2em !important;
        }

        img {
            width: 50px;
        }

        .border {
            width: 60%;
            border-bottom: 1px solid rgba(88, 88, 88, 0.521);
            margin: auto;
            padding-top: .4em;
        }

        a {
            display: block;
            font-size: 1.1em;
            margin-bottom: .7em;
            padding-top: .3em;
        }

        .link {
            margin-bottom: .4em;
            font-size: 1.1em;
            cursor: pointer;
        }
    }
}

.description {
    display: flex;
    flex-wrap: wrap;

    .left-imgs {
        background-image: url("/static/img/set.png");
        background-repeat: no-repeat;
        width: 500px;
        height: 520px;
    }

    .right-data {
        margin: auto;
    }

    .item {
        color: white;
        padding: .3em;
        font-size: 1.1em;

        .category,
        .item-info {
            padding-bottom: .3em;
        }

        .item-build {
            width: 60px;
        }

        .spell {
            width: 48px;
        }
    }

    .item:first-child {
        margin-top: 1em;
    }

    .item:last-child {
        margin-bottom: 1em;
    }
}

.remove-btn {
    float: right;
    font-size: 1.3em !important;
    cursor: pointer;
}