.create {
    top: 5em;

    .set {
        background-image: url("/static/img/set.png");
        background-size: contain;
        width: 100%;
        min-height: 520px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-container {
        width: 85%;
        margin: auto;
        padding-right: 7.5%;

        .item {
            margin-top: 1.7em;

            .object:nth-child(2) {
                margin-right: 0.3em;
            }

            .text {
                font-size: 1.3em;
            }

            select,
            input {
                font-size: 1.2em;
                padding: 0.1em;
                background-color: rgba(255, 255, 255, 0.9);
            }

            .select-build{
                min-width: 200px;
            }
        }
    }

    .create-btn {
        width: 70%;
        padding: 0.4em;
        color: white;
        background-color: #2185d0;
        font-size: 1.1em;
        border-radius: 1em;
        border: none;
    }

    .create-btn:hover,
    select:hover {
        cursor: pointer;
    }

    .create-btn:focus,
    select:focus {
        outline: none;
    }
}
