.footer {
    min-height: 6vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.4em;
    background-color: #76008a;
    padding: 1em 0;
}
