body {
    background-color: #131313;
}

.home-container {
    width: 65%;
    margin: auto;
    background-color: #222;
    min-height: 100vh;
    position: relative;

    .introduction {
        font-size: 1.5em;
        text-align: center;
        color: white;
        padding-top: 25%;

        .dc-link:hover {
            text-decoration: underline;
        }
    }
}
