body {
    background-color: #131313;
}

.home-container {
    width: 65%;
    margin: auto;
    background-color: #222;
    min-height: 100vh;
    position: relative;

    .introduction {
        font-size: 1.35em;
        text-align: justify;
        color: rgba(255, 255, 255, 0.801);
        padding-top: 13%;
        width: 63%;
        margin: auto;

        .dc-button {
            background-color: rgb(3, 180, 3);
            margin: auto;
            margin-top: 2em;
            width: fit-content;
            padding: .6em .7em;
            font-size: 1.1em;
            border-radius: 1em;
        }

        .dc-link:hover {
            text-decoration: none;
        }
    }
}
