.pointing {
    background-color: #76008a !important;
    flex-wrap: wrap;
    min-height: 6vh !important;

    .item {
        color: white;
        font-size: 1.3em;
        padding: 1.2em 1.3em !important;
    }

    .item:hover {
        background-color: #9e00b9 !important;
    }

    .inline {
        color: white !important;

        .text {
            font-size: 1.1em;
            padding-right: 5px;
        }

        .menu {
            background-color: rgb(206, 206, 206) !important;
            border: none;
            margin-top: 0.5em !important;
        }
    }

    .right.menu > .ui.item {
        color: white;
    }

    .ui .ui.dropdown .menu > .item {
        color: white !important;
    }
}

.phone {
    display: none ;
}

.ui.menu .ui.dropdown .menu > .item:hover {
    background-color: #b900da !important;
    color: white !important;
}

.actions {
    justify-content: center;

    .custom-logout {
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    .custom-logout:focus {
        outline: none;
    }

    .cancel {
        height: 100%;
        margin-top: 0.1em;
    }
}
