{% extends "layouts/default.html" %}

{% load static %}

{% block title %}Kreator Setów{% endblock %}

{% block content %}
<div class="ui placeholder segment transparent create">
    <div class="ui two column stackable center aligned grid">
        <div class="middle aligned row">
            <div class="column">
                <div class="ui icon header white set"></div>
                <div class="field">
                    <div class="ui search">
                        <div class="results"></div>
                    </div>
                </div>
            </div>
            <div class="column">
                <form method="post">
                    {% csrf_token %}
                    <div class="item-container">
                        <div class="item flex center">
                            <div class="object text">
                                Nazwa Buildu: &nbsp;
                            </div>
                            <div class="object">
                                {{ form.name_build }}
                            </div>
                        </div>
                        <div class="item flex center">
                            <div class="object text">
                                Kategoria: &nbsp;
                            </div>
                            <div class="object">
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="item flex end">
                            <div class="object text">
                                Głowa: &nbsp;
                            </div>
                            <div class="object">
                                {{ form.head }}
                            </div>
                            <div class="object">
                                {{ form.head_tier }}
                            </div>
                            <div class="object">
                                {{ form.head_spells }}
                            </div>
                        </div>
                        <div class="item flex end">
                            <div class="object text">
                                Klata: &nbsp;
                            </div>
                            <div class="object">
                                {{ form.chest }}
                            </div>
                            <div class="object">
                                {{ form.chest_tier }}
                            </div>
                        </div>
                        <div class="item flex end">
                            <div class="object text">
                                Buty: &nbsp;
                            </div>
                            <div class="object">
                                {{ form.boots }}
                            </div>
                            <div class="object">
                                {{ form.boots_tier }}
                            </div>
                        </div>
                        <div class="item flex end">
                            <div class="object text">
                                Broń Główna: &nbsp;
                            </div>
                            <div class="object">
                                {{ form.hand }}
                            </div>
                            <div class="object">
                                {{ form.hand_tier }}
                            </div>
                        </div>
                        <div class="item flex end">
                            <div class="object text">
                                Broń Poboczna: &nbsp;
                            </div>
                            <div class="object">
                                {{ form.second_hand }}
                            </div>
                            <div class="object">
                                {{ form.second_hand_tier }}
                            </div>
                        </div>
                    </div>
                    <br>
                    {{ form.non_field_errors }}
                    <input class="create-btn" type="submit" value="Zapisz">
                </form>
            </div>
        </div>
    </div>
</div>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $("#id_head_spells").prop('disabled', true);
        $("select[class=select-build][id=id_hand]").change(function () {
            var itemId = this.value;

            var url = "{% url 'ajversh:form-change' %}"
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'itemId':itemId,})
            })
            .then(response => response.json())
            .then(result => {
                if (result.lock_second_hand == true) { 
                    $("#id_second_hand").prop('disabled', true);
                    $("#id_second_hand_tier").prop('disabled', true);
                }
                else {
                    $("#id_second_hand").prop('disabled', false);
                    $("#id_second_hand_tier").prop('disabled', false);
                }
            })
        });
        $("select[class=select-build][id=id_head]").change(function () {
            var headId = this.value;
            if (this.value != ''){
                $("#id_head_spells").prop('disabled', false);
            }
            else{
                $("#id_head_spells").prop('disabled', true);
            }

            var url = "{% url 'ajversh:form-change' %}"

            let dropdown = document.getElementById('id_head_spells');
            dropdown.length = 0;

            let defaultOption = document.createElement('option');
            defaultOption.text = '---------';

            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;

            fetch(url, {
                method:'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'headId':headId,})
            })
            .then(  
                function(response) {  
                    if (response.status !== 200) {  
                        console.warn('Looks like there was a problem. Status Code: ' + response.status);  
                        return;
                    }

                    // Examine the text in the response  
                    console.log('sd')
                    response.json().then(function(data) {  
                        let option;
                        console.log(data)

                        for (let i = 0; i < data.length; i++) {
                            option = document.createElement('option');
                            option.text = data[i].name;
                            option.value = data[i].abbreviation;
                            dropdown.add(option);
                        }    
                    });  
                }  
            )  
        });
    });
</script>
{% endblock %}