{% extends "layouts/default.html" %}

{% load static %}

{% block title %}Kreator Setów{% endblock %}

{% block content %}
<div class="ui placeholder segment transparent create">
    <div class="ui two column stackable center aligned grid">
        <div class="middle aligned row creator">
            <div class="ui modal list">
                <div class="header">
                    <div class="txt">
                        Lista itemów
                        <div class="actions remove-btn">
                            <i class="cancel remove-btn icon"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-div-form">
                    <div class="description item-list"></div>
                </div>
            </div>
            <div class="column preview">
                <div class="set"></div>
            </div>
            <div class="column parts">
                <div class="item-container">
                    <div class="name">
                        Nazwa Buildu: 
                        <input type="text" id="myInput">
                    </div>
                    <div class="selects">
                        <div class="select-object">
                            <label for="type">Kategoria: </label>
                            <select name="type" id="type">
                                <option value="Solo Dungi">Solo Dungi</option>
                                <option value="Grupowe Dungi">Grupowe Dungi</option>
                                <option value="PVP">PVP</option>
                                <option value="ZVZ">ZVZ</option>
                                <option value="AVALON">AVALON</option>
                            </select>
                        </div>
                        <div class="select-object">
                            <label for="role">Rola: </label>
                            <select name="role" id="role">
                                <option value="Tank">Tank</option>
                                <option value="Heal">Heal</option>
                                <option value="MDPS">MDPS</option>
                                <option value="RDPS">RDPS</option>
                                <option value="Supp">Supp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item-container head">
                    Głowa
                    <div class="add-item" onclick="selectItem('head')">+</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/modal.js' %}"></script>
<script>
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function selectItem(type) {
        var url = "{% url 'ajversh:creator' %}"
        $(".description").remove();
        $(".modal-div-form").append('<div class="description item-list"></div>');
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'type':type,})
        })
        .then(response => response.json())
        .then(result => {
            var i;
            for (i = 0; i < result.length; i++) {
                $(".description").append(
                    '<div class="item-qs"><div class="object">' + result[i].name + '<div class="data-item"><img src="media/' + result[i].img + 
                    '" title="' + result[i].name + '"><div class="select" onclick="selectSpell(\'' + result[i].pk + '\',\'media/' + result[i].img + 
                    '\',\'' + result[i].name + '\',\'' + type + '\');">Wybierz</div></div></div></div>'
                    );
            }
        })
        if (type == 'chest') {
            $('.ui.modal.list').modal('show');
        }
        else if (type == 'boots') {
            $('.ui.modal.list').modal('show');
        }
        else if (type == 'weapon') {
            $('.ui.modal.list').modal('show');
        }
        else if (type == 'offhand') {
            $('.ui.modal.list').modal('show');
        }
    }

    var head;
    var chest;
    var boots;
    var weapon;
    var offhand;

    function selectSpell(pk, img, name, type) {
        // usuniecie + > dodanie wyznaczonego itemu > wyswietlenie listy speli > wywolanie kolejnej funkcji
        $(".add-item").remove();
        $("."+type+"").append('<div class="item-imgs imgs'+ type +'"><img src="' + img + '" title="' + name + '"></div>');

        if (type != 'offhand') {
            $(".imgs"+ type +"").append('<div class="add-item plus '+ type +'" style="padding:.55em .65em; top: 13px; position: relative;" onclick="re_openPopup()">+</div>');
        }
        else {
            $('.ui.modal.list').modal('hide');
        }
        $(".description").remove();
        $(".modal-div-form").append('<div class="description item-list"></div>');
        if (type == 'head') {
            $(".set").append('<img src="' + img + '" title="' + name + '" width="100px" style="position: absolute; top: 55px; left: 205px;">');
            head = pk
        }
        else if (type == 'chest') {
            $(".set").append('<img src="' + img + '" title="' + name + '" width="100px" style="position: absolute; top: 166px; left: 205px;">');
            chest = pk
        }
        else if (type == 'boots') {
            $(".set").append('<img src="' + img + '" title="' + name + '" width="100px" style="position: absolute; top: 279px; left: 205px;">');
            boots = pk
        }
        else if (type == 'weapon') {
            $(".set").append('<img src="' + img + '" title="' + name + '" width="100px" style="position: absolute; top: 166px; left: 78px;">');
            weapon = pk
        }
        else if (type == 'offhand') {
            $(".set").append('<img src="' + img + '" title="' + name + '" width="100px" style="position: absolute; top: 166px; left: 335px;">');
            offhand = pk
            $(".parts").append('<div class="btn" onclick="saveBuild()">Zapisz</div>');
        }

        if (type == 'weapon'){
            var loop = 1;
            weaponSpell(type, pk, loop)
        }
        else if (type != 'offhand')  {
            var url = "{% url 'ajversh:spells' %}"
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'pk': pk, 'type': type, 'category': 'spell'})
            })
            .then(response => response.json())
            .then(result => {
                var i;
                for (i = 0; i < result.length; i++) {
                    $(".description").append(
                        '<div class="item-qs"><div class="object">' + result[i].name + '<div class="data-item"><img src="media/' + 
                        result[i].img + '" title="' + result[i].name + '"><div class="select" onclick="selectPasive(\'' + result[i].img + 
                        '\',\'' + result[i].name + '\',\'' + pk + '\',\'' + type + '\',\'' + 0 + '\',\'' + result[i].id +'\');">Wybierz</div></div><div class="desc">'+
                        result[i].description +'</div></div></div>');
                }
            })
        }
    }

    function weaponSpell(type, pk, loop) {
        var url = "{% url 'ajversh:spells' %}"
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'pk': pk, 'type': type, 'category': 'spell', 'loop': loop})
        })
        .then(response => response.json())
        .then(result => {
            var i;
            for (i = 0; i < result.length; i++) {
                $(".description").append(
                    '<div class="item-qs"><div class="object">' + result[i].name + '<div class="data-item"><img src="media/' + 
                    result[i].img + '" title="' + result[i].name + '"><div class="select" onclick="selectPasive(\'' + result[i].img + 
                    '\',\'' + result[i].name + '\',\'' + pk + '\',\'' + type + '\',\'' + loop + '\',\'' + result[i].id +'\');">Wybierz</div></div><div class="desc">'+
                        result[i].description +'</div></div></div>');
            }
        })
        loop = loop + 1;
    }

    var head_spell;
    var chest_spell;
    var boots_spell;
    var weapon_spell_q;
    var weapon_spell_w;
    var weapon_spell_e;

    function selectPasive(img, name, pk, type, loop, spellId) {
        $(".plus").remove();
        $(".imgs"+ type +"").append('<img class="spells" src="media/' + img + '" title="' + name + '">');
        $(".imgs"+ type +"").append('<div class="add-item plus" style="padding:.55em .65em; top: 13px; position: relative;" onclick="re_openPopup()">+</div>');
        $(".description").remove();
        $(".modal-div-form").append('<div class="description item-list"></div>');

        if (type == 'weapon') {
            if (loop != 211) {
                weaponSpell(type, pk, loop)
            }
            if (loop == 2) {
                weapon_spell_q = spellId
            }
            if (loop == 21) {
                weapon_spell_w = spellId
            }if (loop == 211) {
                weapon_spell_e = spellId
            }
        }
        else if (type == 'head') {
            head_spell = spellId
        }
        else if (type == 'chest') {
            chest_spell = spellId
        }
        else if (type == 'boots') {
            boots_spell = spellId
        }

        if ((type != 'weapon') || (loop == 211)) {
            var url = "{% url 'ajversh:spells' %}"
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'pk': pk, 'type': type, 'category': 'pasive'})
            })
            .then(response => response.json())
            .then(result => {
                var i;
                var x;
                if (result[result.length - 2].tank_item == 'True') {
                    tank_item = 'True'
                }
                else {
                    tank_item = 'False'
                }
                for (i = 0; i < result.length; i++) {
                    if (result[i].lock_offhand == 'True') {
                        lock_offhand = 'True'
                    }
                    else if (result[i].lock_offhand == 'False') {
                        lock_offhand = 'False'
                    }
                    else if (result[i].lock_offhand == undefined) {
                        if (tank_item == 'False') {
                            $(".description").append(
                                '<div class="item-qs"><div class="object">' + result[i].name + '<div class="data-item"><img src="media/' + 
                                result[i].img + '" title="' + result[i].name + '"><div class="select" onclick="nextPart(\'' + result[i].img + 
                                '\',\'' + result[i].name + '\',\'' + type + '\',\'' + result[i].id +'\');">Wybierz</div></div><div class="desc">'+
                                result[i].description +'</div></div></div>');
                        }
                        else if (tank_item == 'True') {
                            if (result[i].img != undefined) {
                                $(".description").append(
                                    '<div class="item-qs"><div class="object">' + result[i].name + '<div class="data-item"><img src="media/' + 
                                    result[i].img + '" title="' + result[i].name + '"><div class="select" onclick="tankPasive(\'' + result[i].img + 
                                    '\',\'' + result[i].name + '\',\'' + type + '\',\'' + pk + '\',\'' + result[i].id +'\');">Wybierz</div></div><div class="desc">'+
                                    result[i].description +'</div></div></div>');
                            }
                        }   
                    }
                }
            })
        }
    }


    function tankPasive(img, name, type, pk, pasiveId) {
        $(".plus").remove();
        $(".imgs"+ type +"").append('<img class="spells" src="media/' + img + '" title="' + name + '">');
        $(".imgs"+ type +"").append('<div class="add-item plus" style="padding:.55em .65em; top: 13px; position: relative;" onclick="re_openPopup()">+</div>');
        $(".description").remove();
        $(".modal-div-form").append('<div class="description item-list"></div>');

        var url = "{% url 'ajversh:spells' %}"
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'pk': pk, 'type': type, 'category': 'tankPasive'})
        })
        .then(response => response.json())
        .then(result => {
            var i;
            var x;
            for (i = 0; i < result.length; i++) {
                $(".description").append(
                    '<div class="item-qs"><div class="object">' + result[i].name + '<div class="data-item"><img src="media/' + 
                    result[i].img + '" title="' + result[i].name + '"><div class="select" onclick="nextPart(\'' + result[i].img + 
                    '\',\'' + result[i].name + '\',\'' + type + '\',\'' + pasiveId + '\',\'' + result[i].id +'\');">Wybierz</div></div><div class="desc">'+
                    result[i].description +'</div></div></div>');
            }
        })
    }


    var head_pasive;
    var chest_pasive;
    var chest_pasive_tank;
    var boots_pasive;
    var weapon_pasive;

    function nextPart(img, name, type, pasiveId, pasiveTankId) {
        $(".plus").remove();
        $(".imgs"+ type +"").append('<img class="spells" src="media/' + img + '" title="' + name + '">');
        $('.ui.modal.list').modal('hide');
        if (type == 'head') {
            $(".parts").append('<div class="item-container chest">Klata<div class="add-item" onclick="selectItem(\'' + 'chest' + '\')">+</div></div>');
            head_pasive = pasiveId
        }
        else if (type == 'chest') {
            $(".parts").append('<div class="item-container boots">Nogi<div class="add-item" onclick="selectItem(\'' + 'boots' + '\')">+</div></div>');
            chest_pasive = pasiveId
        }
        else if (type == 'boots') {
            $(".parts").append('<div class="item-container weapon">Broń<div class="add-item" onclick="selectItem(\'' + 'weapon' + '\')">+</div></div>');
            boots_pasive = pasiveId
        }
        if (lock_offhand == 'False') {
            if (type == 'weapon') {
                $(".parts").append('<div class="item-container offhand">Druga Ręka<div class="add-item" onclick="selectItem(\'' + 'offhand' + '\')">+</div></div>');
                weapon_pasive = pasiveId
            }
        }
        if (pasiveTankId != undefined) {
            chest_pasive_tank = pasiveTankId
        }
        if (lock_offhand == 'True') {
            weapon_pasive = pasiveId
            $(".parts").append('<div class="btn" onclick="saveBuild()">Zapisz</div>');
        }
    }

    function saveBuild() {
        var url = "{% url 'ajversh:save' %}"
        var type = document.getElementById("type");
        var role = document.getElementById("role");
        var inputVal = document.getElementById("myInput").value;
        var category = type.value;
        var role_set = role.value;
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'head':head, 'chest':chest, 'boots':boots, 'weapon':weapon, 'offhand':offhand, 'head_spell':head_spell, 'chest_spell':chest_spell, 'boots_spell':boots_spell,
            'weapon_spell_q':weapon_spell_q, 'weapon_spell_w':weapon_spell_w, 'weapon_spell_e':weapon_spell_e, 'head_pasive':head_pasive, 'chest_pasive':chest_pasive, 'chest_pasive_tank':chest_pasive_tank, 'boots_pasive':boots_pasive,
            'weapon_pasive':weapon_pasive, 'category':category, 'role_set':role_set, 'inputVal':inputVal})
        })
        .then(response => response.json())
        .then(result => {
            if (result == 'none') {
                window.location.reload(true);
            }
            else {
                $(".error").remove();
                $(".parts").prepend('<p class="error">'+ result +'</p>');
            }
        })
    }

    function re_openPopup() {
        $('.ui.modal.list').modal('show');
    }
</script>
{% endblock %}