{% extends "layouts/default.html" %}

{% load static %}

{% block title %}Ajversh{% endblock %}

{% block content %}
    <div class="introduction">
        <p>
            Poszukujesz ekipy do wspólnej gry w róznych eventach takich jak Dungi, Ścieżki Avalońskie, HC, HG, Kryształowa Liga lub Areny ?
            A może jesteś początkującym graczem, szukającym ludzi, którzy wprowadzą Ciebie do świata Albiona ?
        </p>
        <p>
            Jeśli tak to dobrze trafiłeś, jesteśmy nową gildią z wieloma doświadczonymi graczami, którzy chętnie odpowiedzą na pytania i wyjaśnią co i jak.
            Posiadamy także HO, na ścieżkach avalońskich.
        </p>
        <p>
            Nasze wymagania, aby dołączyć to: aktywność minimum 1 raz na tydzień, aktywność na DC i odpowiednie zachowanie.
            Jeśli spełniasz powyższe wymagania i chcesz do nas dołączyć to zapraszamy Ciebie na naszego DC, na krótką rozmowę wstępną.
        </p>
        <a class="dc-link" href="https://discord.gg/WQj3uMgZ42" target="_blank" rel="noopener noreferrer">
            <div class="dc-button">Dołącz do nas</div>
        </a>
    </div>
{% endblock %}

